extra/n8n+chatwoot/ChatwootToQuepasaGreetings.json
{
  "name": "ChatwootToQuepasaGreetings",
  "nodes": [
    {
      "parameters": {},
      "id": "f0dfee98-3f60-4c09-9ee7-d7a23462259f",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -1380,
        1700
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json.qphost}}",
        "token": "={{$json.qptoken}}",
        "text": "={{$json.content}}",
        "chatId": "={{$json.chatid}}"
      },
      "id": "530f112e-3461-459e-a2a5-b607f5fb84f9",
      "name": "Quepasa Send Welcome",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        940,
        1460
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "073fc182-6d01-42ca-9171-419a7864ab38",
      "name": "Normal Exit (GNE)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        1780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Chat Id ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1040,
        1700
      ],
      "alwaysOutputData": false,
      "id": "13af0f1c-9a68-4bfd-a386-b78a0d22ffcc"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatid",
              "value": "={{$json.chat.id}}"
            },
            {
              "name": "qphost",
              "value": "={{ $json.extra.qphost ?? 'http://localhost:31000' }}"
            },
            {
              "name": "qptoken",
              "value": "={{ $json.extra.qptoken ?? $json.extra.identifier }}"
            },
            {
              "name": "cwhost",
              "value": "={{ $json.extra.cwhost ?? 'http://localhost:3000' }}"
            },
            {
              "name": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "name": "inbox",
              "value": "={{$json.extra.inbox}}"
            },
            {
              "name": "utoken",
              "value": "={{$json.extra.utoken}}"
            }
          ],
          "boolean": [
            {
              "name": "skipgreetings",
              "value": "={{ $json.chat.chatwoot.skipgreetings ?? false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f5bbc96-449d-4056-b88e-d462a17b190d",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1200,
        1700
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "content",
              "value": "={{$json.greeting_message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Greeting Message Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        240,
        1560
      ],
      "id": "b861c473-ea12-4011-860f-f7e9bc1a1eef"
    },
    {
      "parameters": {
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Get Inbox Information",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -680,
        1680
      ],
      "id": "61eb093e-b6b0-4778-9f01-d54a64c159ab",
      "notes": "Important to use \"source_id\" to respond messages"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.greeting_enabled}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Greeting Enabled ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        1580
      ],
      "alwaysOutputData": false,
      "id": "b257c42b-fb88-4b01-884e-a5314681fd8f"
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "id": "b6752317-372a-4688-880b-6f9cff5c54bf",
      "name": "Merge Extra + Greeting Content",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        500,
        1460
      ]
    },
    {
      "parameters": {},
      "id": "f4c738d2-c30f-4278-b73a-641a7b85e6cf",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        240,
        1380
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "6f6a79d1-9e98-404d-b1dd-646eddb32e9a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -400,
        1580
      ]
    },
    {
      "parameters": {},
      "id": "ec5af05e-1a59-4bc4-96cc-94a615730fbb",
      "name": "Waiting for inbox info",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -680,
        1500
      ]
    },
    {
      "parameters": {
        "errorMessage": "no chat id"
      },
      "id": "9fbbfc4a-f077-4a53-be2d-46cbaace6d7b",
      "name": "S&E - No Chat Id",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -680,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let value = item.json.content;\n  if (typeof value === 'string') {\n    value = value.replace(/\\*\\*/g,'*');\n    value = value.replace(/\\\\\\s/g,'\\r');\n  }\n  item.json.content = value;\n}\n\nreturn $input.all();"
      },
      "id": "060a2899-c439-438c-a4df-7eaa8ac617f0",
      "name": "Text Enchanted adjusts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        720,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipgreetings ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "95940920-c2b8-4d6d-8495-1dce5b0e3204",
      "name": "Skip Greetings By Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        1460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Has Chat Id ?": {
      "main": [
        [
          {
            "node": "Get Inbox Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Waiting for inbox info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S&E - No Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Has Chat Id ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Message Content": {
      "main": [
        [
          {
            "node": "Merge Extra + Greeting Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Inbox Information": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is Greeting Enabled ?": {
      "main": [
        [
          {
            "node": "Skip Greetings By Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Exit (GNE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra + Greeting Content": {
      "main": [
        [
          {
            "node": "Text Enchanted adjusts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        [
          {
            "node": "Merge Extra + Greeting Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Is Greeting Enabled ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waiting for inbox info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Enchanted adjusts": {
      "main": [
        [
          {
            "node": "Quepasa Send Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Greetings By Contact": {
      "main": [
        [],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Greeting Message Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "9882a9ff-3dbf-4d1d-91ef-6a3b823ad9d2",
  "id": "4",
  "meta": {
    "instanceId": "a37a29af0b164c10f8b7ef0e4d5577d19b80c64c836f6cd90dd302c84a178489"
  },
  "tags": []
}