extra/n8n+chatwoot/ChatwootToQuepasaGreetings.json
{
  "name": "ChatwootToQuepasaGreetings",
  "nodes": [
    {
      "parameters": {},
      "id": "f0dfee98-3f60-4c09-9ee7-d7a23462259f",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -1380,
        1700
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json.qphost}}",
        "token": "={{$json.qptoken}}",
        "text": "={{$json.content}}",
        "chatId": "={{$json.chatid}}"
      },
      "id": "530f112e-3461-459e-a2a5-b607f5fb84f9",
      "name": "Quepasa Send Welcome",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1260,
        1520
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "073fc182-6d01-42ca-9171-419a7864ab38",
      "name": "Normal Exit (GNE)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Chat Id ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1040,
        1700
      ],
      "alwaysOutputData": false,
      "id": "13af0f1c-9a68-4bfd-a386-b78a0d22ffcc"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatid",
              "value": "={{$json.chat.id}}"
            },
            {
              "name": "qphost",
              "value": "={{ $json.extra.qphost ?? 'http://localhost:31000' }}"
            },
            {
              "name": "qptoken",
              "value": "={{ $json.extra.qptoken ?? $json.extra.identifier }}"
            },
            {
              "name": "cwhost",
              "value": "={{ $json.extra.cwhost ?? 'http://localhost:3000' }}"
            },
            {
              "name": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "name": "inbox",
              "value": "={{$json.extra.inbox}}"
            },
            {
              "name": "utoken",
              "value": "={{$json.extra.utoken}}"
            }
          ],
          "boolean": [
            {
              "name": "skipgreetings",
              "value": "={{ $json.chat.chatwoot.skipgreetings ?? false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f5bbc96-449d-4056-b88e-d462a17b190d",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1200,
        1700
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "content",
              "value": "={{ $json.sendOutofOfficeMessage ? $json.out_of_office_message : $json.greeting_message }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Greeting Message Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        1600
      ],
      "id": "b861c473-ea12-4011-860f-f7e9bc1a1eef"
    },
    {
      "parameters": {
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Get Inbox Information",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -680,
        1680
      ],
      "id": "61eb093e-b6b0-4778-9f01-d54a64c159ab",
      "notes": "Important to use \"source_id\" to respond messages"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.greeting_enabled ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Greeting Enabled ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        1600
      ],
      "alwaysOutputData": false,
      "id": "b257c42b-fb88-4b01-884e-a5314681fd8f"
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "id": "b6752317-372a-4688-880b-6f9cff5c54bf",
      "name": "Merge Extra + Greeting Content",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        860,
        1520
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "6f6a79d1-9e98-404d-b1dd-646eddb32e9a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -480,
        1580
      ]
    },
    {
      "parameters": {},
      "id": "ec5af05e-1a59-4bc4-96cc-94a615730fbb",
      "name": "Waiting for inbox info",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -680,
        1500
      ]
    },
    {
      "parameters": {
        "errorMessage": "no chat id"
      },
      "id": "9fbbfc4a-f077-4a53-be2d-46cbaace6d7b",
      "name": "S&E - No Chat Id",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -680,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let value = item.json.content;\n  if (typeof value === 'string') {\n    value = value.replace(/\\*\\*/g,'*');\n    value = value.replace(/\\\\\\s/g,'\\r');\n  }\n  item.json.content = value;\n}\n\nreturn $input.all();"
      },
      "id": "060a2899-c439-438c-a4df-7eaa8ac617f0",
      "name": "Text Enchanted adjusts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1060,
        1520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipgreetings ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "95940920-c2b8-4d6d-8495-1dce5b0e3204",
      "name": "Skip Greetings By Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        1480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const dados of $input.all()) {\n  \n  //HugoSampaio: Ajuda a analisar problemas de timezone nao configurado\n  dados.json.horaAtual = $now.toFormat('H');\n  \n  for(let wo of dados.json[\"working_hours\"] ){\n    if ($today.weekday === wo.day_of_week){\n      if(wo.closed_all_day == true){\n        dados.json.sendOutofOfficeMessage = true;\n        break;\n      }\n  \n      \n      // opcional: hora do almoco\n      if($now.toFormat('H') == \"12\"){\n        dados.json.sendOutofOfficeMessage = true;\n        break;\n      }\n  \n  \n      if(wo.open_all_day == false){\n  \n        \n        if($now.toFormat('H') <= wo.open_hour  || $now.toFormat('H') >= wo.close_hour){\n          \n          // abertura\n          if($now.toFormat('H') == wo.open_hour){\n            if($now.toFormat('mm') < wo.open_minutes){\n              dados.json.sendOutofOfficeMessage = true;\n              break;\n            }else{\n              dados.json.sendOutofOfficeMessage = false;\n              break;\n            }\n          }\n          \n  \n          // fechamento\n          if($now.toFormat('H') == wo.close_hour){\n            if($now.toFormat('mm') >= wo.close_minutes){\n              dados.json.sendOutofOfficeMessage = true;\n              break;\n            }else{\n              dados.json.sendOutofOfficeMessage = false;\n              break;\n            }\n          }\n  \n          dados.json.sendOutofOfficeMessage = true;\n          break;\n         \n        }    \n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "id": "1dc477a2-1937-4be8-83c8-eb44b5e49857",
      "name": "Calculate Working Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -120,
        1480
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "801537bf-0baa-4b46-9e65-3f3df78954cc",
      "name": "Normal Exit (GNF)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.working_hours_enabled ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Working Hours Enabled ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        1580
      ],
      "alwaysOutputData": false,
      "id": "7d0e7201-e31a-4c5d-b63b-233d1a3c7f6e"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sendOutofOfficeMessage ?? false }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Should Send Out Of Office Message ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        60,
        1480
      ],
      "alwaysOutputData": false,
      "id": "ebb1c83e-663c-44f0-88a2-07e163037874"
    }
  ],
  "pinData": {},
  "connections": {
    "Has Chat Id ?": {
      "main": [
        [
          {
            "node": "Get Inbox Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Waiting for inbox info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "S&E - No Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Has Chat Id ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Message Content": {
      "main": [
        [
          {
            "node": "Merge Extra + Greeting Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Inbox Information": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is Greeting Enabled ?": {
      "main": [
        [
          {
            "node": "Skip Greetings By Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Exit (GNE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra + Greeting Content": {
      "main": [
        [
          {
            "node": "Text Enchanted adjusts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Working Hours Enabled ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waiting for inbox info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Enchanted adjusts": {
      "main": [
        [
          {
            "node": "Quepasa Send Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Greetings By Contact": {
      "main": [
        [
          {
            "node": "Normal Exit (GNF)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting Message Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra + Greeting Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Working Hours": {
      "main": [
        [
          {
            "node": "Should Send Out Of Office Message ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Working Hours Enabled ?": {
      "main": [
        [
          {
            "node": "Calculate Working Hours",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Greeting Enabled ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Out Of Office Message ?": {
      "main": [
        [
          {
            "node": "Skip Greetings By Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Greeting Enabled ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "fc827135-f5ad-476a-9816-7244448e0ad0",
  "id": "4",
  "meta": {
    "instanceId": "a37a29af0b164c10f8b7ef0e4d5577d19b80c64c836f6cd90dd302c84a178489"
  },
  "tags": []
}