extra/n8n+chatwoot/ChatwootProfileUpdate.json
{
  "name": "ChatwootProfileUpdate",
  "nodes": [
    {
      "parameters": {
        "url": "={{$json.qphost}}/v3/bot/{{$json.qptoken}}/picinfo/{{$json.chatid}}",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Quepasa Picture Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1120,
        2160
      ],
      "id": "45527660-a7b6-4ede-b24e-2cfb5bbf9a4a",
      "continueOnFail": true,
      "notes": "Important to use \"source_id\" to respond messages"
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "name": "Quepasa + Contact",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -540,
        2020
      ],
      "id": "3bd40d55-5335-4c87-98ec-52ce41136aaf"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Quepasa",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -720,
        2140
      ],
      "id": "220a9ad0-9b22-4507-9834-50c8f719d647"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"success\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "c46fdb4d-8361-416a-869a-26fcda2426b2",
      "name": "Success on get picture ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -920,
        2160
      ]
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "avatar_url",
              "value": "={{ $json[\"Quepasa\"][\"info\"][\"url\"] }}"
            },
            {
              "name": "custom_attributes.pictureid",
              "value": "={{ $json[\"Quepasa\"][\"info\"][\"id\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Chatwoot Update Profile Avatar URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -280,
        2020
      ],
      "id": "71ab08dc-dbeb-496e-9961-431a4c84a62e",
      "retryOnFail": true,
      "notes": "Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "277dfa4d-249d-4287-9bc7-e5c221810703",
      "name": "If Found ChatId",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1900,
        1740
      ]
    },
    {
      "parameters": {
        "errorMessage": "Chat Id not found !"
      },
      "id": "a364a3e5-a25c-4e31-83c5-893e2e547791",
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1700,
        1940
      ]
    },
    {
      "parameters": {
        "content": "## Starting with following parameters\n\n* chatid\n* qphost\n* qptoken\n\n* cwhost\n* utoken\n* account\n\n* contactid",
        "height": 628.3922996878252,
        "width": 527.0811654526535
      },
      "id": "2ad5f706-f855-4767-8dfc-e29e8e06b91e",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3000,
        1360
      ]
    },
    {
      "parameters": {
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Get Contact Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1160,
        1560
      ],
      "id": "a8fba4fa-1280-4683-b470-448b82a092cc",
      "retryOnFail": true,
      "notes": "Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.payload}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "837f9700-a5fc-481d-9189-37028fc97ad1",
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1000,
        1560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "82b3a4bc-a8d8-4490-b9a4-5ed71706b1c9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -800,
        1440
      ]
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "identifier",
              "value": "={{$json.chatid}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Chatwoot Update Profile Email3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -40,
        1340
      ],
      "id": "53f89a90-2fc9-4790-819d-27b7259bee96",
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "30bebd03-3f8c-42d0-8835-d9856ff74895",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2780,
        1740
      ]
    },
    {
      "parameters": {},
      "id": "c30440c9-41a7-4b4a-b364-3e2247d8c399",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1380,
        1420
      ]
    },
    {
      "parameters": {},
      "id": "9264e37a-373b-4386-9193-3a408279af1d",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1380,
        2000
      ]
    },
    {
      "parameters": {
        "errorMessage": "Chat Id not found !"
      },
      "id": "cb335ad1-2737-4d40-aae0-1d6698ec3e92",
      "name": "Stop And Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -800,
        1660
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "57a8b4e5-a1ea-467e-b3b3-9b5903a8634e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.payload?.identifier}}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "aa9d73e0-16e8-492d-99a8-b15a463902af",
      "name": "If Empty Identifier",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -520,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.payload?.identifier}}",
              "operation": "notEqual",
              "value2": "={{$json.chatid}}"
            }
          ]
        }
      },
      "id": "b15d086c-e89d-410b-9472-711a8830b425",
      "name": "If Different Identifier ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -280,
        1460
      ],
      "notesInFlow": true,
      "notes": "Used to sincronize old versions with Quepasa Id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT account_id as account FROM contacts WHERE id = '{{ $json.contactid }}'",
        "additionalFields": {}
      },
      "id": "1e87047f-94d1-4055-b5ca-c9239043869d",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -2600,
        1820
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ea81d255-359b-4c9d-a09e-80355ef72a54",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -2400,
        1760
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Quepasa Picture Info": {
      "main": [
        [
          {
            "node": "Success on get picture ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa + Contact": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Avatar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Quepasa": {
      "main": [
        [
          {
            "node": "Quepasa + Contact",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Success on get picture ?": {
      "main": [
        [
          {
            "node": "Set Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Found ChatId": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Info": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Stop And Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If Empty Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp1": {
      "main": [
        [
          {
            "node": "Quepasa + Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quepasa Picture Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Update Profile Email3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Update Profile Avatar URL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Identifier": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Different Identifier ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Different Identifier ?": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If Found ChatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "d9d8a685-0629-459e-ac2b-84bf272d1f77",
  "id": "5",
  "meta": {
    "instanceId": "a37a29af0b164c10f8b7ef0e4d5577d19b80c64c836f6cd90dd302c84a178489"
  },
  "tags": []
}