extra/n8n+chatwoot/QuepasaInboxControl.json
{
  "name": "QuepasaInboxControl",
  "nodes": [
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "webhook",
        "operation": "setup",
        "url": "={{ $json.query.n8nhost?.replace(/\\/+$/, '') ?? \"https://\" + $json.headers.host }}/webhook/to-chatwoot",
        "trackId": "chatwoot",
        "extraAttributes": {
          "attribute": [
            {
              "key": "identifier",
              "value": "={{$json[\"query\"][\"identifier\"]}}"
            },
            {
              "key": "cwhost",
              "value": "={{$json[\"query\"][\"cwhost\"]}}"
            },
            {
              "key": "inbox",
              "value": "={{$json[\"query\"][\"inbox\"]}}"
            },
            {
              "key": "account",
              "value": "={{$json[\"body\"][\"account\"][\"id\"]}}"
            },
            {
              "key": "utoken",
              "value": "={{$json[\"query\"][\"utoken\"]}}"
            },
            {
              "key": "atoken",
              "value": "={{$json[\"query\"][\"atoken\"]}}"
            },
            {
              "key": "account",
              "value": "={{$json[\"query\"][\"account\"]}}"
            },
            {
              "key": "qphost",
              "value": "={{$json[\"query\"][\"qphost\"]}}"
            },
            {
              "key": "qptoken",
              "value": "={{$json[\"query\"][\"qptoken\"]}}"
            }
          ]
        }
      },
      "id": "ebbcba93-b82b-4610-96ec-5ac8f57e975b",
      "name": "QP - Webhook Update",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -2540,
        -440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "webhook",
        "operation": "remove",
        "url": "=https://{{$json[\"headers\"][\"host\"]}}/webhook/to-chatwoot"
      },
      "id": "bd4e9743-51e6-4b9a-9762-2946e6d6772c",
      "name": "QP - Webhook Remove",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -2540,
        -260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.content.toLowerCase()}}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "/webhook update"
            },
            {
              "operation": "startsWith",
              "value2": "/webhook remove",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "/webhook clear",
              "output": 2
            }
          ]
        }
      },
      "id": "6ebd6c2d-85de-4945-9ff0-ce1cc7909bd7",
      "name": "Webhook Methods",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2900,
        -240
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"params\"][\"cwhost\"]}}",
        "sourceId": "={{$json[\"params\"][\"source_id\"]}}",
        "operation": "messageCreate",
        "inboxIdentifier": "={{$json[\"params\"][\"identifier\"]}}",
        "conversationId": "={{$json[\"params\"][\"conversation_id\"]}}",
        "content": "={{$json[\"response\"]}}"
      },
      "id": "b6bced91-5c0e-481a-b5cd-6f2c591090df",
      "name": "ChatWoot",
      "type": "n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        -600,
        60
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=({{$json[\"success\"]}}): {{$json[\"status\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "156e97b2-c658-490f-bdb2-b118449388fd",
      "name": "Set Response From Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1960,
        -440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=!Invalid call, try:\n-----------------------------------------------\n/info\n/agentbot\n/webhook update\n/webhook remove\n/webhook clear"
            }
          ]
        },
        "options": {}
      },
      "id": "6738b4c9-c9cd-4f3a-b5e3-fbbf33fff938",
      "name": "Set Response From Invalid Start",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1940,
        900
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.content?.toLowerCase()}}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "/webhook"
            },
            {
              "operation": "startsWith",
              "value2": "/info",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "/agentbot",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "4ad1ca4f-c9e9-4a83-9c9a-9a0cdaa9a44d",
      "name": "Switch Start",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3320,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.event}}",
              "value2": "message_created"
            },
            {
              "value1": "={{$json.body?.message_type}}",
              "value2": "outgoing"
            }
          ]
        }
      },
      "id": "104f1acc-d0f3-4763-9567-1f3cda0049e3",
      "name": "If Message Out",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4600,
        160
      ]
    },
    {
      "parameters": {},
      "id": "241fa507-0bb6-4cea-9537-b7ce075bb501",
      "name": "Discarding Not Message Out",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4180,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "82a11f4d-e47e-42fa-8908-502da8035fa7",
      "name": "IF Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2240,
        -260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=! {{$json[\"status\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "83f562da-cdd9-49fc-81a9-1e5280964def",
      "name": "Set Error Response From Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1960,
        -160
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "information"
      },
      "id": "a41acd1b-ed4c-4cbd-8633-6f2c652eacb6",
      "name": "QP - Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -2900,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "4e40082e-65e5-40d6-a30b-a6e3c13ac5d2",
      "name": "IF Success1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2540,
        120
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{$json[\"server\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f47ef995-7cf2-44e5-8636-b1b43fa4b669",
      "name": "Set Info Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1960,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "function print(object, level) {\n    var SPACER = '-',\n        NEWLINE = '\\r\\n'\n        result = '';\n\n    level = level || 0;\n    Object.keys(object).forEach(function (key) {\n        var i = level;\n        while (i--) {\n            result += SPACER;\n        }\n        if (typeof object[key] === 'object' && object[key] !== null) {\n            result += NEWLINE + key + ' :: ' + NEWLINE + NEWLINE;\n            result += print(object[key], level + 1);\n            return;\n        }\n        result += key + ': ' + object[key] + NEWLINE;\n\n    });\n    return result;\n}\n\nfor (item of items) {\n  item.json.server = print(item.json.server);\n}\n\nreturn items;"
      },
      "id": "a273c036-c788-4c54-97ba-48cdd8330fcd",
      "name": "Json To Idented Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2240,
        100
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{$json[\"query\"][\"qphost\"]}}",
        "token": "={{$json[\"query\"][\"qptoken\"]}}",
        "resource": "webhook",
        "operation": "clear"
      },
      "id": "166cc661-221f-4749-85b1-f7313d5ef153",
      "name": "QP - Webhook Clear",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        -2540,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "fadc8583-265a-434a-b5f0-b5428d401030",
      "name": "Merge Parameters + Message",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -820,
        60
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "cwhost",
              "value": "={{$json[\"query\"][\"cwhost\"]}}"
            },
            {
              "name": "identifier",
              "value": "={{$json[\"query\"][\"identifier\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "01a60d1b-a8a6-4cac-b5e5-ad5d6ec43b65",
      "name": "Set Basic Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4460,
        -360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "source_id",
              "value": "={{$json[\"body\"][\"conversation\"][\"contact_inbox\"][\"source_id\"]}}"
            },
            {
              "name": "conversation_id",
              "value": "={{$json[\"body\"][\"conversation\"][\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb9f9ff0-fe9a-4c92-acfe-641c9d387043",
      "name": "Set Parameters From Control Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4180,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "9b830e6f-3e09-4458-9cc3-c33c2a0aa568",
      "name": "Merge Parameters +",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -3260,
        -660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "params",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5f1047b-ba99-4772-827c-77adcb2644cb",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1460,
        -680
      ]
    },
    {
      "parameters": {},
      "id": "2d3cf742-5105-4767-b784-036189649ab3",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2880,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.response}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6646ab71-e83e-4c52-bd5a-2c56270d2475",
      "name": "If Reponse Not Empty ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1140,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.content}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.content}}",
              "operation": "notStartsWith",
              "value2": "/qrcode"
            }
          ]
        }
      },
      "id": "b4425c0e-e87a-49ef-aa38-e4119fd7f055",
      "name": "If Body Not Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3540,
        140
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "content",
              "value": "={{$json.body?.content}}"
            },
            {
              "name": "cwhost",
              "value": "={{$json.query.cwhost}}"
            },
            {
              "name": "account",
              "value": "={{$json.query.account}}"
            },
            {
              "name": "inbox",
              "value": "={{$json.query.inbox}}"
            },
            {
              "name": "utoken",
              "value": "={{$json.query.utoken}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d60474d3-f48c-4ca2-96c0-f7eeeae7509e",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -3780,
        140
      ]
    },
    {
      "parameters": {},
      "id": "9eb03498-132a-4967-8cf3-c985fb0aee90",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -4940,
        160
      ]
    },
    {
      "parameters": {},
      "id": "b8311964-ccf0-471d-8d00-dd533e759461",
      "name": "Agent Control",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2900,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/inboxes/{{$json.inbox}}/set_agent_bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_bot",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c5552d75-1784-4a33-b63b-eedf8976a6cd",
      "name": "(Agent) Set Inbox Agent Permissions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -2660,
        480
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json?.error?.message??$json?.error}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "e2550f33-731f-4bf7-b652-03a145484256",
      "name": "(Agent) If Success Set Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2460,
        480
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Agent Bot Updated"
            }
          ]
        },
        "options": {}
      },
      "id": "afa9e1cc-2361-4936-8d9c-00e07f817ad6",
      "name": "(Agent)  Set Sucess Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2260,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=! {{$json.status}}"
            }
          ]
        },
        "options": {}
      },
      "id": "8ac8c1e3-8fa2-453d-ac9d-24a827678690",
      "name": "(Agent) Set Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2260,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "0678513f-75ae-4012-a6af-f5eb4208955c",
      "name": "(Agent) Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -1960,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Methods": {
      "main": [
        [
          {
            "node": "QP - Webhook Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QP - Webhook Remove",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QP - Webhook Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Webhook Update": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Webhook Remove": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response From Quepasa": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response From Invalid Start": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Start": {
      "main": [
        [
          {
            "node": "Webhook Methods",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QP - Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Message Out": {
      "main": [
        [
          {
            "node": "Set Parameters From Control Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discarding Not Message Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success": {
      "main": [
        [
          {
            "node": "Set Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response From Quepasa": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Info": {
      "main": [
        [
          {
            "node": "IF Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success1": {
      "main": [
        [
          {
            "node": "Json To Idented Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response From Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Info Response": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json To Idented Text": {
      "main": [
        [
          {
            "node": "Set Info Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QP - Webhook Clear": {
      "main": [
        [
          {
            "node": "IF Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Parameters + Message": {
      "main": [
        [
          {
            "node": "ChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Basic Parameters": {
      "main": [
        [
          {
            "node": "Merge Parameters +",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters From Control Chat": {
      "main": [
        [
          {
            "node": "Merge Parameters +",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Parameters +": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Merge Parameters + Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        [
          {
            "node": "Set Response From Invalid Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reponse Not Empty ?": {
      "main": [
        [
          {
            "node": "Merge Parameters + Message",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Body Not Empty": {
      "main": [
        [
          {
            "node": "Switch Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "If Body Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "If Message Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Basic Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Control": {
      "main": [
        [
          {
            "node": "(Agent) Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "(Agent) Set Inbox Agent Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Agent) Set Inbox Agent Permissions": {
      "main": [
        [
          {
            "node": "(Agent) If Success Set Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Agent) If Success Set Agent": {
      "main": [
        [
          {
            "node": "(Agent)  Set Sucess Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(Agent) Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Agent)  Set Sucess Response": {
      "main": [
        [
          {
            "node": "(Agent) Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "(Agent) Set Error Response": {
      "main": [
        [
          {
            "node": "(Agent) Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "(Agent) Merge": {
      "main": [
        [
          {
            "node": "If Reponse Not Empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "160b6b7d-5bf3-4b94-84b7-dd275db25ac5",
  "id": "8",
  "meta": {
    "instanceId": "a37a29af0b164c10f8b7ef0e4d5577d19b80c64c836f6cd90dd302c84a178489"
  },
  "tags": [
    {
      "createdAt": "2023-04-22T16:05:34.674Z",
      "updatedAt": "2023-04-22T16:05:34.674Z",
      "id": "2",
      "name": "QUEPASA"
    },
    {
      "createdAt": "2023-05-15T19:41:05.629Z",
      "updatedAt": "2023-05-15T19:41:05.629Z",
      "id": "5",
      "name": "codeleaks"
    },
    {
      "createdAt": "2023-05-15T19:41:05.651Z",
      "updatedAt": "2023-05-15T19:41:05.651Z",
      "id": "6",
      "name": "CHATWOOT"
    }
  ]
}